@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Name:Sumeet Sardul<br />
    kent road, manurewa<br />
    <abbr title="Phone">P:</abbr>
    0226376578
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Sumeetsardul.sss@gmail.com</a><br />
</address>